.adds a{
    width: 80%;
    margin: 0 auto;
    height: 100px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.45);
    display: block;
    margin-top: 40px;
    position: relative;
}

.adds a img{
    height: 101px;
    width: 20%;
    object-fit: contain;
}


.quiz-name{
    position: absolute;
    top: 7px;
    left: 184px;
    font-weight: bold;
    font-size: 14px;
}

.quiz-name-desc{
    position: absolute;
    left: 184px;
    font-weight: bold;
    font-size: 13px;
    bottom: 42px;
}

.quiz-start{
    position: absolute;
    left: 184px;
    font-weight: bold;
    font-size: 13px;
    bottom: -7px;
}

.quiz-end{
    position: absolute;
    left: 349px;
    font-weight: bold;
    font-size: 13px;
    bottom: -7px;
}

.quiz-type{
    position: absolute;
    font-weight: bold;
    font-size: 13px;
    bottom: -7px;
    right: 12px;
}
#adspace1 {
  padding: 2px;
  margin :2px;
  text-align: center;
}
