<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> View Quizzes
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th class="d-md-down-none">Start Time</th>
                <th class="d-md-down-none">End Time</th>
                <th class="d-md-down-none">Status</th>
                <th>Present Stage</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of quizDetails let i=index">
                <td>{{detail.quizName}}</td>
                <td>{{detail.quizType}}</td>
                <td class="d-md-down-none">{{detail.quizStartTime}}</td>
                <td class="d-md-down-none">{{detail.quizEndTime}}</td>
                <td *ngIf="detail.status=='Pending'" class="d-md-down-none"><span class="badge badge-warning"> {{detail.status}} </span></td>
                <td *ngIf="detail.status!='Pending'" class="d-md-down-none"><span class="badge badge-success"> {{detail.status}} </span></td>
                <td *ngIf="!detail.isEditable">  <span class="badge badge-secondary">{{detail.stage}}</span></td>
                <td *ngIf="detail.isEditable" class="page-link"> <a (click)="quizScreen(i,detail.stage)"><span class="badge badge-danger">{{detail.stage}}</span> </a></td>

                <!--<td class="page-link"> <a (click)="quizScreen(i,detail.stage)"><span class="badge badge-danger">{{detail.stage}}</span> </a></td>-->
              </tr>
            </tbody>
          </table>
          <nav>
            <pagination *ngIf="quizDetails && quizDetails.length>0" [totalItems]="totalquiz" [maxSize]="totalquiz"
                        (pageChanged)="pageChanged($event)"
                        [itemsPerPage]="pagesize" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" [boundaryLinks]="true">
            </pagination>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
