.question-links { list-style: none; padding: 0; text-align: center;margin-top:30px; }

.question-links li { width: 40px; height: 24px; text-align: center; background: #68cefe; border-right: 1px solid #ffff; display: inline-block; }

.question-links li a { color: #ffffff; text-decoration: none; display: block; }

.question-links li a.active { background: #7afc0f; }
.question-links li button { background: none; border: none; }
