<div class="container">
  <ul class="question-links">
    <li *ngFor="let number of questionsCount let i=index" [ngClass]="{'active': activeQuestion == i}"
        [class.answered]="isanswered.includes(i)">
      <input type="checkbox" [disabled]="true" ng-checked="all" [checked]="isanswered.includes(i)">
      <button [disabled]="quizDefinition.quizType=='Treasure Hunt'"
              (click)="AssignQuestionNumber(i+1)">
        {{i+1}}
      </button>
    </li>
  </ul>
</div>
<app-quiz-runner-content (activequestion)="isActive($event)" (answered)="isAnswered($event)" [questionNo]="selectedQuestionNumber"></app-quiz-runner-content>
