<header>
  <div class="container">
    <div class="company-logo">
      <a href="#"><img src="assets/images/u0.png"></a>
    </div>
    <ul class="menu-head">
      <a routerLink="/about-us" routerLinkActive="active">About Us</a>
      <a routerLink="/quiz-builder" routerLinkActive="active" *ngIf="userDetails.role=='admin'">Quiz Builder</a> 
    </ul>
    <ul class="menu-log-in">
      <a routerLink="/user-registration"  *ngIf="!userDetails.teamName">Login</a>      
    </ul>
    <ul class="menu-log-in">
      <a routerLink="/adds" routerLinkActive="active" *ngIf="userDetails.teamName" (click)="Logout()">Logout</a>
    </ul>
  </div>
</header>
<router-outlet></router-outlet>
