<form #definethequiz="ngForm">
  <div class="container create-quiz-wrapper"> 
    <div class="row"> 
      <div class="col-md-6"> 
        <div class="form-group">
          <label for="QuizName">Name</label>
          <input type="text" class="form-control" name="QuizName" #QuizName="ngModel" [(ngModel)]="quizDefinition.QuizName" id="QuizName">
        </div>
        <div class="form-group">
          <label for="host-quiz-domain">Host Quiz Domain</label>
          <select class="form-control" id="hostquizdomain" name="QuizDomainHost" [(ngModel)]="quizDefinition.QuizDomainHost" #QuizDomainHost="ngModel">
            <option value="KnowledgeVyasa Domain">KnowledgeVyasa Domain</option>
            <option value="My Own Domain">My Own Domain</option>
          </select>
        </div>
        <div class="form-group">
          <label for="type-of-quiz">Type of Quiz</label>
          <select class="form-control" id="typeofquiz" name="QuizType" [(ngModel)]="quizDefinition.QuizType" #QuizType="ngModel">
            <option value="Treasure Hunt">Treasure Hunt</option>
            <option value="Free Flow">Free Flow</option>
          </select>
        </div>
        <div class="form-group">
          <label for="hash-of-questions"># of Questions</label>
          <select class="form-control" id="hashofquestions" name="NoOfQuestions" [(ngModel)]="quizDefinition.NoOfQuestions" #NoOfQuestions="ngModel">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="hash-of-participants"># of Participants</label>
          <select class="form-control" id="noOfParticipants" name="NoOfParticipants" [(ngModel)]="quizDefinition.NoOfParticipants" #NoOfParticipants="ngModel">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="form-group two-groups">
          <label for="duration">Duration of the Quiz</label>
          <input type="text" class="form-control" id="durationhour" name="QuizDurationHour" [(ngModel)]="quizDefinition.QuizDurationHour" #QuizDurationHour="ngModel">
          <select class="form-control" id="duratontime" name="QuizDurationTime" [(ngModel)]="quizDefinition.QuizDurationTime" placeholder="Minutes" #QuizDurationTime="ngModel">
            <option value="Hours">Hours</option>
            <option Hours="Minutes">Minutes</option>
            <option [ngValue]="undefined" hidden selected> Hours </option>
          </select>
        </div>
        <div class="form-group two-groups">
          <label for="start-duration">Start Time for Quiz</label>
          <input type="text" class="form-control" id="start-duration" value="MM:DD:YY" name="QuizStartDate" [(ngModel)]="quizDefinition.QuizStartDate" #QuizStartDate="ngModel" placeholder="MM:DD:YY">
          <input type="text" class="form-control" id="starttimeforquiz" value="HH:MM:SS" name="QuizStartDateTime" [(ngModel)]="quizDefinition.QuizStartDateTime" #QuizStartDateTime="ngModel" placeholder="HH:MM:SS">

        </div>
        <div class="form-group two-groups">
          <label for="end-duration">End Time for Quiz</label>
          <input type="text" name="QuizEndDate" [(ngModel)]="quizDefinition.QuizEndDate" #QuizEndDate="ngModel" class="form-control" id="end-duration" value="MM:DD:YY" placeholder="MM:DD:YY">
          <input type="text" class="form-control" id="end-duration-second" value="HH:MM:SS"
                 name="quizEndDateTime" [(ngModel)]="quizDefinition.QuizEndDateTime" #QuizEndDateTime="ngModel" placeholder="HH:MM:SS">

        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group radio-box">
          <label for="end-duration">Shuffle Questions ?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="exampleRadios1" value="Yes" #ShuffleQuestions="ngModel" name="Shuffle-Questions-?" [(ngModel)]="quizDefinition.ShuffleQuestions">
            <label class="form-check-label" for="exampleRadios1">
              yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" #ShuffleQuestions="ngModel" id="exampleRadios2" value="No" name="Shuffle-Questions-?" [(ngModel)]="quizDefinition.ShuffleQuestions">
            <label class="form-check-label" for="exampleRadios2">
              no
            </label>
          </div>

        </div>
        <div class="form-group radio-box">
          <label for="end-duration">Create Quiz from larger Pool?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="exampleRadios1" value="Yes" name="Create-Quiz-from-larger-Pool?" #IsQuizFromLargerPool="ngModel" [(ngModel)]="quizDefinition.IsQuizFromLargerPool">
            <label class="form-check-label" for="exampleRadios1">
              yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="exampleRadios2" value="No" name="Create-Quiz-from-larger-Pool?" #IsQuizFromLargerPool="ngModel" [(ngModel)]="quizDefinition.IsQuizFromLargerPool">
            <label class="form-check-label" for="exampleRadios2">
              no
            </label>
          </div>

        </div>
        <div class="form-group">
          <label for="name"># of Questions in Pool</label>
          <input type="text" class="form-control" id="name" name="Pool-Of-Questions" [(ngModel)]="quizDefinition.NoOfQuestionsInPool" #NoOfQuestionsInPool="ngModel">
        </div>

        <div class="form-group radio-box">
          <label for="end-duration">Allow Concurrent Access?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="exampleRadios1" value="Yes" name="Allow-Concurrent-Access?" #AllowConcurrentAccess="ngModel" [(ngModel)]="quizDefinition.AllowConcurrentAccess">
            <label class="form-check-label" for="exampleRadios1">
              yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="exampleRadios2" value="No" name="Allow-Concurrent-Access?" #AllowConcurrentAccess="ngModel" [(ngModel)]="quizDefinition.AllowConcurrentAccess">
            <label class="form-check-label" for="exampleRadios2">
              no
            </label>
          </div>

        </div>
        <div class="form-group">
          <label for="type-of-quiz">Participant Type</label>
          <select class="form-control" id="type-of-quiz" name="Participant-Type" [(ngModel)]="quizDefinition.ParticipantType" #ParticipantType="ngModel">
            <option value="Cross College">Cross College</option>
            <option value="Same College">Same College</option>
          </select>
        </div>
        <div class="form-group radio-box">
          <label for="end-duration">Auto Evaluate Quiz</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="exampleRadios1" value="Yes" name="Auto-Evaluate-Quiz" #IsQuizAutoEvaluate="ngModel" [(ngModel)]="quizDefinition.IsQuizAutoEvaluate">
            <label class="form-check-label" for="exampleRadios1">
              yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="exampleRadios2" value="No" name="Auto-Evaluate-Quiz" #IsQuizAutoEvaluate="ngModel" [(ngModel)]="quizDefinition.IsQuizAutoEvaluate">
            <label class="form-check-label" for="exampleRadios2">
              no
            </label>
          </div> 
        </div>
        <div class="form-group radio-box">
          <label for="end-duration">Show Score after attempt?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="exampleRadios1" value="Yes" name="Show-Score-after-attempt?" #ShowScoreAfterAttempt="ngModel" [(ngModel)]="quizDefinition.ShowScoreAfterAttempt">
            <label class="form-check-label" for="exampleRadios1">
              yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="exampleRadios2" value="No" name="Show-Score-after-attempt?" #ShowScoreAfterAttempt="ngModel" [(ngModel)]="quizDefinition.ShowScoreAfterAttempt">
            <label class="form-check-label" for="exampleRadios2">
              no
            </label>
          </div>

        </div>
        <div class="form-group radio-box">
          <label for="end-duration">Post score on Social Media?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="exampleRadios1" value="Yes" name="Post-score-on-Social-Media?" #PostScoreOnSocialMedia="ngModel" [(ngModel)]="quizDefinition.PostScoreOnSocialMedia">
            <label class="form-check-label" for="exampleRadios1">
              yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="exampleRadios2" value="No" name="Post-score-on-Social-Media?" #PostScoreOnSocialMedia="ngModel" [(ngModel)]="quizDefinition.PostScoreOnSocialMedia">
            <label class="form-check-label" for="exampleRadios2">
              no
            </label>
          </div> 
        </div>
      </div>
    </div>
    <div class="reg-button"> 
      <button type="submit" class="btn btn-danger" (click)="saveDefinequiz(definethequiz)"> 
        <a>Create Registration Page for Quiz</a> 
      </button>
    </div> 
  </div> 
</form>
{{ definethequiz.value | json }}
