<form #setpage="ngForm">
  <div class="container">
    <div class="set-pages-wrapper">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">
          Enter message to display when

          user logs in and tries to attempt

          quiz before start of Quiz Time
        </label>
        <textarea class="form-control" name="message-before-quiz" #MessageBeforeQuizTime="ngModel" [(ngModel)]="quizDefinition.MessageBeforeQuizTime" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">
          Enter message to display when

          user logs in and tries to attempt

          quiz after end of Quiz Time
        </label>
        <textarea class="form-control" name="message-after-quiz" #MessageAfterQuizTime="ngModel" [(ngModel)]="quizDefinition.MessageAfterQuizTime" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="name">Upload Excel File</label>
        <input type="file" class="form-control" accept="image/*" capture>
      </div>


      <div class="reg-button">
        <button type="button" class="btn btn-danger" (click)="saveDefinequiz(setpage)">Save</button>
        <button type="button" class="btn btn-danger">
          <a routerLink="/quiz-builder/create-quiz/set-logos" routerLinkActive="active">Next >></a>

        </button>

      </div>

    </div>
  </div>
</form>
