<div class="container">
  <div class="set-pages-wrapper">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter message to display when

        user logs in and tries to attempt
        
        quiz before start of Quiz Time</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter message to display when

        user logs in and tries to attempt
        
        quiz after end of Quiz Time</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
      <label for="name">Upload Excel File</label>
      <input type="file" class="form-control" accept="image/*" capture>
    </div>
    <div class="form-group">
        <label for="hash-of-questions"># of Sponsor Logos</label>
        <select class="form-control" id="hash-of-questions">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
      </div>
      <div class="form-group">
          <label for="name">Logo #n</label>
          <input type="file" class="form-control" accept="image/*" capture>
        </div>
      <div class="form-group">
          <label for="hash-of-questions">Logo Position</label>
          <select class="form-control" id="hash-of-questions">
              <option value="Top Left Corner">Top Left Corner</option>
              <option value="Top Left">Top Left</option>
              <option value="Top Middle">Top Middle</option>
              <option value="Top Right">Top Right</option>
              <option value="Right Top">Right Top</option>
              <option value="Right Middle">Right Middle</option>
              <option value="Right Bottom">Right Bottom</option>
              <option value="Right Bottom Corner">Right Bottom Corner</option>
            </select>
        </div>

    <div class="reg-button">
        <button type="button" class="btn btn-danger">Preview Question</button>
        <button type="button" class="btn btn-danger">Submit Question</button>
        <button type="button" class="btn btn-danger">Preview Quiz</button>
      </div>

</div>
</div>
