<div class="container">
  <ul class="question-links">
    <li *ngFor="let number of questionsCount let i=index">
      <button (click)="AssignQuestionNumber(i+1)">{{i+1}}</button>
      <!--<a [routerLink]="['/quiz-builder/create-quiz/publish-quiz/first-quiz']"
      [queryParams]="{qn:i+1 | json }" routerLinkActive="active">{{i+1}}</a>-->
    </li>
  </ul>
</div>
<!--<router-outlet></router-outlet>-->
<app-publish-quiz-main-content [questionNo]="selectedQuestionNumber"></app-publish-quiz-main-content>
