<div class="animated fadeIn">
  <div class="col-lg-12">
    <div class="mb-4">
      <!-- Nav tabs -->
      <div class="btn-dark">
        <div class="row align-items-center">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <a routerLink="/adminquiz/definequiz">
              <button type="button" class="btn btn-block btn-dark">Define Quiz</button>
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-dark">Registration</button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-dark">Set Pages</button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-dark">Set Logo</button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-dark">Set Question</button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-dark">Publish</button>
          </div>
        </div>
      </div>

      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-calculator" style="padding-left:2px;"> Define Quiz</i></ng-template>
          <app-set-definequiz></app-set-definequiz>
        </tab>
        <tab>
          <ng-template tabHeading><i class="fa fa-tag"></i> Registration</ng-template>
          <app-set-registration #myChild></app-set-registration>
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> Set Pages</ng-template>
          <app-set-pages></app-set-pages>
        </tab>
        <tab>
          <ng-template tabHeading><i class="fa fa-file-picture-o"> Set Logo</i> </ng-template>
          <app-set-logogroup></app-set-logogroup>
        </tab>
        <tab>
          <ng-template tabHeading><i class="fa fa-question-circle"></i> Set Question</ng-template>
          <app-set-question></app-set-question>
        </tab>
      </tabset>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
