<div class="animated fadeIn">
  <div class="col-lg-12">
    <div class="btn-dark">
      <div class="row align-items-center">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <a routerLink="/adminquiz/definequiz"> <button type="button" class="btn btn-block btn-dark">Define Quiz</button> </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <a routerLink="/adminquiz/registerquiz"><button type="button" class="btn btn-block btn-dark">Registration</button></a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <a routerLink="/adminquiz/setpagequiz"> <button type="button" class="btn btn-block btn-dark">Set Pages</button></a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <a routerLink="/adminquiz/setlogoquiz"><button type="button" class="btn btn-block btn-dark">Set Logo</button></a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <a routerLink="/adminquiz/setquestionquiz"><button type="button" class="btn btn-block btn-dark">Set Question</button></a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <a routerLink="/adminquiz/publishquiz"> <button type="button" class="btn btn-block btn-primary active" aria-pressed="true">Publish</button></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <i class="fa fa-edit"></i>Publish Quiz
      </div>
      <div class="card-body">
        <div class="row col-lg-12 align-items-center">
          <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                      previousText="&lsaquo;" nextText="&rsaquo;" [boundaryLinks]="true"></pagination>
        </div>
        <div class="row col-lg-12">
          <progressbar class="progress progress-success progress-animated" [max]="max" [value]="dynamic">
            <span style="color:white; white-space:nowrap;">{{dynamic}} / {{max}}</span>
          </progressbar>
        </div>

        <form class="form-horizontal">
          <app-publish-quiz-main-content></app-publish-quiz-main-content>
        </form>

      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-warning">Edit</button>
        <button type="submit" class="btn btn-sm btn-primary">Preview</button>
        <!--<button type="button" class="btn btn-sm btn-danger">Preview</button>-->
        <button type="button" class="btn btn-sm btn-info">Next</button>
        <button type="button" class="btn btn-sm btn-success">Publish</button>
      </div>
    </div>
  </div> <!--/.col-->
  </div>
