.main-content-quiz p { text-align: left; padding-top: 20px; font-weight: 600; }

.main-content-quiz img { height: 115px; width: auto; display: block; margin: 0 auto; margin-top: -32px; }
.question-list { margin-bottom: 20px; }

.question-list div { width: 300px; margin: 0 auto; color: #e62f2d; }

.question-list div label { width: 50%; text-align: right; margin-right: 12px; color: #00CCFF; }


.main-content-quiz .reg-button { text-align: center; }

.main-content-quiz .reg-button a { color: #ffffff; text-decoration: none; }




.main-content-quiz .reg-button button { margin: 10px; }

.main-content-quiz .reg-button { margin-bottom: 30px; }
.main-content-quiz p{text-align:center;}

.text-answer{
  width:50%;
  margin:0 auto;
}

.has-error label { color: red; }

.help-block { color: red; display: block; }
.has-error input { border: 1px solid red; box-shadow: 0 1px 7px red; }

.success label { color: green; }

.success input { border: 1px solid green; box-shadow: 0 1px 7px green; }

.dont-submit a { pointer-events: none; cursor: not-allowed; }
