<div class="main-content-quiz container" *ngIf="questionset.questionText">

  <p>{{questionset.questionText}}</p>
  <div *ngIf="questionset.isImageneeded==true">
    <img onerror="this.src='../../../../QuizWebApi/Images/No_image_available.jpg'" src="questionset.imageUrl">
  </div>
  <form class="question-list" *ngIf="questionset.answerType ==='Multiple Choice'">
    <div><label>Option 1</label><input type="radio" name="userAnswer" value={{questionset.option1}} [(ngModel)]="quizresultdetails.userAnswer" #userAnswer="ngModel"> {{questionset.option1}}</div>
    <div><label>Option 2</label><input type="radio" name="userAnswer" value={{questionset.option2}} [(ngModel)]="quizresultdetails.userAnswer" #userAnswer="ngModel"> {{questionset.option2}}</div>
    <div><label>Option 3</label><input type="radio" name="userAnswer" value={{questionset.option3}} [(ngModel)]="quizresultdetails.userAnswer" #userAnswer="ngModel"> {{questionset.option3}} </div>
    <div><label>Option 4</label><input type="radio" name="userAnswer" value={{questionset.option4}} [(ngModel)]="quizresultdetails.userAnswer" #userAnswer="ngModel"> {{questionset.option4}}</div>
  </form>
  <div *ngIf="questionset.answerType !='Multiple Choice'">
    <label for="name" class="control-label">Answer</label>
    <input required type="text" class="form-control" name="answer" #userAnswer="ngModel"
           [(ngModel)]="quizresultdetails.userAnswer" id="name">
    <span class="help-block" *ngIf="userAnswer.invalid && userAnswer.touched">
      Answer is required
    </span>
  </div>

  <div class="reg-button">
    <button type="button" *ngIf="quizDefinition.quizType=='Free Flow'" class="btn btn-warning" (click)="UpdateQuestionNo('First')">
      First
    </button>
    <button type="button" *ngIf="quizDefinition.quizType=='Free Flow' && questionNo>1" class="btn btn-warning" (click)="UpdateQuestionNo('Prev')">
      Prev
    </button>
    <button type="button" class="btn btn-info" (click)="SaveAnswer()">
      Save Answer
    </button>
    <button type="button" *ngIf="totalquestions!=questionNo" class="btn btn-danger" (click)="UpdateQuestionNo('Next')">
      Next
    </button>
    <button type="button" *ngIf="quizDefinition.quizType=='Free Flow'" class="btn btn-danger" (click)="UpdateQuestionNo('Last')">
      Last
    </button><br>
  </div>
</div>
