
  <div class="app-body">
    <div class="container">
      <div class="row">

        <div class="col-md-6 mx-auto">
          <div class="card mx-4 p-3" style="margin-top:15px;">
            <form #createuser="ngForm">
              <div class="card-body p-4">
                <span class="help-block" [hidden]="oldpassword1.valid || (oldpassword1.pristine && !createuser.submitted)">
                  Please enter old passsword.
                </span>
                <span class="help-block" [hidden]="!alertflag || (oldpassword1.pristine && !createuser.submitted)">
                  Old Password and New Password is matching
                </span>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" name="oldpassword" class="form-control" placeholder="Enter old Password" required #oldpassword1="ngModel"
                         [(ngModel)]="oldpassword" (focusout)="onBlurOldpasswd()" (change)="onoldpasswordchange()">
                </div>
                <span class="help-block" [hidden]="password.valid || (password.pristine && !createuser.submitted)">
                  Password Required.
                </span>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" name="password" class="form-control" placeholder="Enter Password" required #password="ngModel"
                         validateEqual="repeatpassword" reverse="true" [(ngModel)]="newpassword" (focusout)="onBlurOldpasswd()">
                </div>
                <span class="help-block" [hidden]="repeatpassword.valid || (repeatpassword.pristine && !createuser.submitted)">
                  Password mismatch.
                </span>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" name="repeatpassword" class="form-control" placeholder="Enter Confirm Password"
                         required validateEqual="password" #repeatpassword="ngModel" [(ngModel)]="repeatPassword">
                </div>

                <div class="input-group mb-4">
                  <button type="submit" class="btn btn-success"
                          [class.dont-submit]="createuser.invalid" [disabled]="createuser.invalid"
                          (click)="ChangePasswd()">
                    Update
                  </button>
                  <button type="button" class="btn btn-success" (click)="createuser.reset()">
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

<!--Model Dialogue-->
<app-alert-message [alertTitle]="alertTitle" [alertMessage]="alertMessage" (alertClose)="alertClose()"></app-alert-message>
