<div class="app-body">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card mx-4">
          <form #registerquiz="ngForm">
            <div class="card-body p-4">
              <h1>Register for Quiz {{registrationDetails.quizName}}</h1>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" class="form-control" name="teamname" required #teamName="ngModel"
                       placeholder="Enter Team Name" [(ngModel)]="registrationDetails.teamName">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input readonly type="email" name="email" class="form-control" placeholder="Email"
                       required #email="ngModel" [(ngModel)]="registrationDetails.email">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" name="name" class="form-control" placeholder="Enter Contestant Name"
                       required #contestantName="ngModel" [(ngModel)]="registrationDetails.contestantName">
              </div>
              <div class="input-group mb-3" [class.has-error]="phone.invalid && phone.touched">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-mobile fa-lg"></i></span>
                </div>
                <input type="number" name="phone" class="form-control" placeholder="Enter Mobile No."
                       required [pattern]="mobnumPattern"
                       #phone="ngModel" [(ngModel)]="registrationDetails.phone">
              </div>

              <div *ngIf="teamsize>1">
                <span>Enter Participant 2 Details</span>
                <div class="input-group mb-3" [class.has-error]="email2.invalid && email2.touched">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="email" name="email2" class="form-control" placeholder="Enter Participant 2 Email"
                         required #email2="ngModel" [pattern]="emailPattern" [(ngModel)]="registrationDetails.email2">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" name="name2" class="form-control" placeholder="Enter Contestant 2 Name"
                         required #contestantName2="ngModel" [(ngModel)]="registrationDetails.contestantName2">
                </div>
                <div class="input-group mb-3" [class.has-error]="phone2.invalid && phone2.touched">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-mobile fa-lg"></i></span>
                  </div>
                  <input type="number" name="phone2" class="form-control" placeholder="Enter Mobile No."
                         required [pattern]="mobnumPattern"
                         #phone2="ngModel" [(ngModel)]="registrationDetails.phone2">
                </div>
              </div>
              <div *ngIf="teamsize>2">
                <span>Enter Participant 3 Details</span>
                <div class="input-group mb-3" *ngIf="teamsize>2" [class.has-error]="email3.invalid && email3.touched">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="email" name="email3" class="form-control" placeholder="Enter Participant 3 Email"
                         required #email3="ngModel" [pattern]="emailPattern" [(ngModel)]="registrationDetails.email3">
                </div>
                <div class="input-group mb-3" *ngIf="teamsize>2">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" name="name3" class="form-control" placeholder="Enter Contestant 3 Name"
                         required #contestantName3="ngModel" [(ngModel)]="registrationDetails.contestantName3">
                </div>
                <div class="input-group mb-3" *ngIf="teamsize>2" [class.has-error]="phone3.invalid && phone3.touched">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-mobile fa-lg"></i></span>
                  </div>
                  <input type="number" name="phone3" class="form-control" placeholder="Enter Mobile No."
                         required [pattern]="mobnumPattern"
                         #phone3="ngModel" [(ngModel)]="registrationDetails.phone3">
                </div>
              </div>
              <button type="submit" class="btn btn-block btn-success"
                      [class.dont-submit]="registerquiz.invalid" [disabled]="registerquiz.invalid"
                      (click)="Register()">
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
