body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:786px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:2px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:30px;
  width:78px;
  height:1px;
  color:#00CCFF;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:51px;
  width:77px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:51px;
  width:145px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:2px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:69px;
  width:78px;
  height:1px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:203px;
  height:100px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:98px;
  width:200px;
  height:1px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:150px;
  width:200px;
  height:1px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:10px;
  width:59px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:10px;
  width:78px;
  height:1px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:10px;
  width:66px;
  height:1px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:10px;
  width:36px;
  height:1px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:150px;
  width:112px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:150px;
  width:300px;
  height:17px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:183px;
  width:116px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:177px;
  width:300px;
  height:22px;
}
#u142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u142_input:disabled {
  color:grayText;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:213px;
  width:81px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:209px;
  width:300px;
  height:22px;
}
#u144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u144_input:disabled {
  color:grayText;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:240px;
  width:93px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:239px;
  width:300px;
  height:22px;
}
#u146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u146_input:disabled {
  color:grayText;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:68px;
  width:125px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:114px;
  width:119px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:696px;
  width:257px;
  height:40px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:253px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:2px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:114px;
  width:523px;
  height:1px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:30px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:94px;
  width:19px;
  height:20px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:98px;
  width:99px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:30px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:92px;
  width:19px;
  height:20px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:96px;
  width:77px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:30px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:92px;
  width:19px;
  height:20px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:94px;
  width:79px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:30px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:91px;
  width:19px;
  height:20px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:95px;
  width:80px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:267px;
  width:103px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:266px;
  width:300px;
  height:22px;
}
#u160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u160_input:disabled {
  color:grayText;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:455px;
  width:165px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:456px;
  width:100px;
  height:16px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u162_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:456px;
  width:100px;
  height:16px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u163_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:482px;
  width:103px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:482px;
  width:300px;
  height:22px;
}
#u165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u165_input:disabled {
  color:grayText;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:296px;
  width:128px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:298px;
  width:76px;
  height:17px;
}
#u167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:298px;
  width:214px;
  height:17px;
}
#u168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:17px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u168_input:disabled {
  color:grayText;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:377px;
  width:125px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:378px;
  width:100px;
  height:16px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u170_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:378px;
  width:100px;
  height:16px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u171_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:404px;
  width:191px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:405px;
  width:100px;
  height:16px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u173_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:405px;
  width:100px;
  height:16px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u174_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:430px;
  width:140px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:432px;
  width:76px;
  height:17px;
}
#u176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:322px;
  width:120px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:324px;
  width:76px;
  height:17px;
}
#u178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:349px;
  width:115px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:351px;
  width:76px;
  height:17px;
}
#u180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:325px;
  width:76px;
  height:17px;
}
#u181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:351px;
  width:76px;
  height:17px;
}
#u182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:510px;
  width:122px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:511px;
  width:100px;
  height:16px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u184_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:511px;
  width:100px;
  height:16px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u185_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:535px;
  width:170px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:536px;
  width:100px;
  height:16px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u187_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:536px;
  width:100px;
  height:16px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u188_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:558px;
  width:181px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:559px;
  width:100px;
  height:16px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u190_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:559px;
  width:100px;
  height:16px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u191_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:579px;
  width:524px;
  height:98px;
  overflow:hidden;
}
#u192_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:98px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u192_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u192_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:98px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u192_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:6px;
  width:300px;
  height:93px;
}
#u193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:93px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:0px;
  width:189px;
  height:17px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#00CCFF;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:744px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u195 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:828px;
  width:772px;
  height:744px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:752px;
  word-wrap:break-word;
}
