<div class="create-quiz-section-inner-wrapper">
  <a routerLink="/quiz-builder/create-quiz/define-the-Quiz" routerLinkActive="active">Define the Quiz</a>
  <a routerLink="/quiz-builder/create-quiz/Registration" routerLinkActive="active">Registration</a>
  <a routerLink="/quiz-builder/create-quiz/set-pages" routerLinkActive="active">Set Pages</a>
  <a routerLink="/quiz-builder/create-quiz/set-logos" routerLinkActive="active">Set Logos</a>
  <a routerLink="/quiz-builder/create-quiz/set-the-quiz" routerLinkActive="active">Set the Quiz</a>
  <a routerLink="/quiz-builder/create-quiz/publish-quiz/first-quiz" routerLinkActive="active">Publish Quiz</a>
  </div>
  <router-outlet></router-outlet>