<form #sponsordetail="ngForm">
  <div class="container">
    <div class="logos-grouping">
      <span>
        Select\Enter image of Top Left
      </span>
      <app-set-logos (image)='SaveImage($event,"TopLeft")' (imagePath)='SavePath($event,"TopLeft")'></app-set-logos>
    </div>
    <div class="logos-grouping">
      <span>
        Select\Enter image of Top Right
      </span>
      <app-set-logos (image)='SaveImage($event,"TopRight")' (imagePath)='SavePath($event,"TopRight")'></app-set-logos>
    </div>
    <div class="logos-grouping">
      <span>
        Select\Enter image of Top Middle
      </span>
      <app-set-logos (image)='SaveImage($event,"TopMiddle")' (imagePath)='SavePath($event,"TopMiddle")'></app-set-logos>
    </div>
    <div class="logos-grouping">
      <span>
        Select\Enter image of Left Middle
      </span>
      <app-set-logos (image)='SaveImage($event,"LeftMiddle")' (imagePath)='SavePath($event,"LeftMiddle")'></app-set-logos>
    </div>
    <div class="logos-grouping">
      <span>
        Select\Enter image of Right Middle
      </span>
      <app-set-logos (image)='SaveImage($event,"RightMiddle")' (imagePath)='SavePath($event,"RightMiddle")'></app-set-logos>
    </div>
    <div class="logos-grouping">
      <span>
        Select\Enter image of Bottom Left
      </span>
      <app-set-logos (image)='SaveImage($event,"BottomLeft")' (imagePath)='SavePath($event,"BottomLeft")'></app-set-logos>
    </div>
    <div class="logos-grouping">
      <span>
        Select\Enter image of  Bottom Right
      </span>
      <app-set-logos (image)='SaveImage($event,"BottomRight")' (imagePath)='SavePath($event,"BottomRight")'></app-set-logos>
    </div>
    <div class="logos-grouping">
      <span>
        Select\Enter image of Bottom Middle
      </span>
      <app-set-logos (image)='SaveImage($event,"BottomMiddle")' (imagePath)='SavePath($event,"BottomMiddle")'></app-set-logos>
    </div>
  </div>

  <div class="reg-button">
    <button type="submit" class="btn btn-danger" (click)="SaveSponsorDetails(sponsordetail)">Save & Next</button>
  </div>
</form>


