

<div class="container">
 
  <div *ngIf="quizDetails == '' || quizDetails?.length==0">
    <p>No Quizzes are defined before.</p>
  </div>
  <table class="table table-striped" *ngIf="quizDetails?.length>0">
    <thead>
      <tr>
        <th>Quiz Name</th>
        <th>Quiz Type</th>
        <th>Quiz Status</th>
        <th>Quiz Start Time</th>
        <th>Quiz End Time</th>
        <th>Current Stage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of quizDetails let i=index">
        <td>{{detail.quizName}}</td>
        <td>{{detail.quizType}}</td>
        <td>{{detail.status}}</td>
        <td>{{detail.quizStartTime}}</td>
        <td>{{detail.quizEndTime}}</td>
        <td *ngIf="detail.status=='Published'">{{detail.stage}}</td>
        <td *ngIf="detail.status!='Published'"><a  (click)="quizScreen(i,detail.stage)">{{detail.stage}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
