

<div class="container">

  <div *ngIf="quizDetails?.length==0 else viewshow">
    <p> Quizzes are not defined.</p>
  </div>
  <ng-template #viewshow>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Quiz Name</th>
          <th>Quiz Type</th>
          <th>Quiz Status</th>
          <th>Quiz Start Time</th>
          <th>Quiz End Time</th>
          <th>Current Stage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of quizDetails">
          <td>{{detail.quizName}}</td>
          <td>{{detail.quizType}}</td>
          <td>{{detail.status}}</td>
          <td>{{detail.quizStartTime}}</td>
          <td>{{detail.quizEndTime}}</td>
          <td>{{detail.stage}}</td>
          <!--<td>
            <div *ngIf="detail.status == 'Pending' else showpublish">
              <a href="#" (click)>{{detail.stage}}</a>
            </div>
            <ng-template #showpublish>
              {{detail.stage}}
              this.formDataService.setQuizDefinition(this.quizDefinition);
            </ng-template>
          </td>-->
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
