// Here you can add other styles
//@import "~ng-pick-datetime/assets/style/picker.min.css";
.imgcol
{
  text-align:center;
  padding:2px;
}
.rp5p{
  padding-right : 5px;
}
.rp4p {
  padding-right: 4px;
}
.rp3p {
  padding-right: 3px;
}
.lp5p {
  padding-left: 5px;
}

.lp4p {
  padding-left: 4px;
}

.lp3p {
  padding-left: 3px;
}
.btn{
  margin-left:1px;
}

.bline {
  vertical-align: bottom;
  border-bottom: 2px solid #c8ced3;
  padding: 4px;
}

