<div class="main-content-quiz container" *ngIf="questionset.QuestionText">

  <p>{{questionset.QuestionText}}</p>
  <div *ngIf="questionset.IsImageneeded==true">
    <img onerror="this.src='../../../../QuizWebApi/Images/No_image_available.jpg'" src="questionset.ImageUrl">
  </div>
  <form class="question-list" *ngIf="questionset.AnswerType ==='Multiple Choice'">
    <div> <label>Option 1</label><input type="radio" name="gender"> {{questionset.Option1}}</div>
    <div><label>Option 2</label><input type="radio" name="gender"> {{questionset.Option2}}</div>
    <div><label>Option 3</label><input type="radio" name="gender"> {{questionset.Option3}} </div>
    <div><label>Option 4</label><input type="radio" name="gender"> {{questionset.Option4}}</div>
  </form>

  <div class="reg-button">
    <button type="button" class="btn btn-warning" (click)="UpdateQuestionNo('First')">
      First
    </button>
    <button type="button" *ngIf="questionNo>1" class="btn btn-warning" (click)="UpdateQuestionNo('Prev')">
      Prev
    </button>
    <button type="button" class="btn btn-info">
      Save Answer
    </button>
    <button type="button" *ngIf="questionNo<totalquestions" class="btn btn-danger" (click)="UpdateQuestionNo('Next')">
      Next
    </button>
    <button type="button" class="btn btn-danger" (click)="UpdateQuestionNo('Last')">
      Last
    </button><br>
    <button type="button" class="btn btn-danger" (click)="UpdateQuestionNo('Edit')">
      Edit this Question
    </button>
    <button type="button" *ngIf="questionNo>1" class="btn btn-warning" (click)="UpdateQuestionNo('Prev')">
      Prev
    </button>
    <button type="button" *ngIf="questionNo<totalquestions" class="btn btn-danger" (click)="UpdateQuestionNo('Next')">
      Next
    </button>
    <button type="button" class="btn btn-danger" (click)="Publish()">Publish</button>
  </div>
</div>
