<div class="main-content-quiz container" *ngIf="questionset.QuestionText">

  <p>{{questionset.QuestionText}}</p>
  <!--<label #QuestionText="ngModel" [(ngModel)]="questionset.QuestionText"></label>-->
  <img src="assets/images/u464.png">
  <form class="question-list">
    <div> <label>Option 1</label><input type="radio" name="gender"> {{questionset.Option1}}</div>
    <div><label>Option 2</label><input type="radio" name="gender"> {{questionset.Option2}}</div>
    <div><label>Option 3</label><input type="radio" name="gender"> {{questionset.Option3}} </div>
    <div><label>Option 4</label><input type="radio" name="gender"> {{questionset.Option4}}</div>
  </form>

  <div class="reg-button">
    <button type="submit" class="btn btn-warning ">
      <a [routerLink]="['/quiz-builder/create-quiz/publish-quiz/first-quiz']" [queryParams]="{qn:1| json }" routerLinkActive="active">First</a>
    </button>
    <button type="submit" class="btn btn-warning ">
      <a [routerLink]="['/quiz-builder/create-quiz/publish-quiz/first-quiz']" [queryParams]="{qn:questionNo-1| json }" routerLinkActive="active">Prev</a>
    </button>
    <button type="submit" class="btn btn-info">
      <a routerLink="/quiz-builder/create-quiz/Registration" routerLinkActive="active">Save Answer</a>
    </button>
    <button type="submit" class="btn btn-danger">
      <a [routerLink]="['/quiz-builder/create-quiz/publish-quiz/first-quiz']" [queryParams]="{qn:questionNo+1| json }" routerLinkActive="active">Next </a>
    </button>
    <button type="submit" class="btn btn-danger">
      <a [routerLink]="['/quiz-builder/create-quiz/publish-quiz/first-quiz']" [queryParams]="{qn:totalquestions| json }" routerLinkActive="active">Last</a>
    </button><br>
    <button type="submit" class="btn btn-danger">
      <a routerLink="/quiz-builder/create-quiz/Registration" routerLinkActive="active">Edit this Question</a>
    </button>
    <button type="submit" class="btn btn-warning">
      <a [routerLink]="['/quiz-builder/create-quiz/publish-quiz/first-quiz']" [queryParams]="{qn:questionNo-1| json }" routerLinkActive="active"> Prev</a>
    </button>
    <button type="submit" class="btn btn-danger">
      <a [routerLink]="['/quiz-builder/create-quiz/publish-quiz/first-quiz']" [queryParams]="{qn:questionNo+1| json }" routerLinkActive="active">Next</a>
    </button>
    <button type="submit" class="btn btn-danger" (click)="Publish()">Publish</button>
  </div>
</div>
