<div class="main-content-quiz container" *ngIf="questionset.questionText">

  <p>{{questionset.questionText}}</p>
  <div *ngIf="questionset.isImageneeded==true">
    <img onerror="this.src='../../../../QuizWebApi/Images/No_image_available.jpg'" src="questionset.imageUrl">
  </div>
  <form class="question-list" *ngIf="questionset.answerType ==='Multiple Choice'">
    <div><label>Option 1</label><input type="radio" name="gender"> {{questionset.option1}}</div>
    <div><label>Option 2</label><input type="radio" name="gender"> {{questionset.option2}}</div>
    <div><label>Option 3</label><input type="radio" name="gender"> {{questionset.option3}} </div>
    <div><label>Option 4</label><input type="radio" name="gender"> {{questionset.option4}}</div>
  </form>

  <div class="reg-button">
    <button type="button" class="btn btn-warning" (click)="UpdateQuestionNo('First')">
      First
    </button>
    <button type="button" *ngIf="questionNo>1" class="btn btn-warning" (click)="UpdateQuestionNo('Prev')">
      Prev
    </button>
    <button type="button" class="btn btn-info">
      Save Answer
    </button>
    <button type="button" *ngIf="questionNo<totalquestions" class="btn btn-danger" (click)="UpdateQuestionNo('Next')">
      Next
    </button>
    <button type="button" class="btn btn-danger" (click)="UpdateQuestionNo('Last')">
      Last
    </button><br>
    <button type="button" class="btn btn-danger" (click)="UpdateQuestionNo('Edit')">
      Edit this Question
    </button>
    <button type="button" *ngIf="questionNo>1" class="btn btn-warning" (click)="UpdateQuestionNo('Prev')">
      Prev
    </button>
    <button type="button" *ngIf="questionNo<totalquestions" class="btn btn-danger" (click)="UpdateQuestionNo('Next')">
      Next
    </button>
    <button type="button" class="btn btn-danger" (click)="Publish()">Publish</button>
  </div>
</div>
