
<div class="container">
    <div class="set-pages-wrapper">
  
        <div class="form-group">
            <label for="name">Logo #n</label>
            <input type="file" class="form-control" accept="image/*" capture>
          </div>
        <div class="form-group">
            <label for="hash-of-questions">Logo Position</label>
            <select class="form-control" id="hash-of-questions">
                <option value="Top Left Corner">Top Left Corner</option>
                <option value="Top Left">Top Left</option>
                <option value="Top Middle">Top Middle</option>
                <option value="Top Right">Top Right</option>
                <option value="Right Top">Right Top</option>
                <option value="Right Middle">Right Middle</option>
                <option value="Right Bottom">Right Bottom</option>
                <option value="Right Bottom Corner">Right Bottom Corner</option>
              </select>
          </div>

          <div class="form-group">
              <label for="hash-of-questions">Logo Link</label>
              <input type="text" class="form-control">
            </div>
  
      <div class="reg-button">
          <button type="button" class="btn btn-danger">Save</button> 
          <button type="button" class="btn btn-danger">
              <a routerLink="/quiz-builder/create-quiz/set-the-quiz" routerLinkActive="active">Next >></a>
            
          </button>     
                
        </div>
  
  </div>
  </div>
  