.set-pages-wrapper { margin: 0 auto; text-align: center; }
    
    .set-pages-wrapper label{
        font-weight: bold;
        font-size:12px;
    }
    
    .set-pages-wrapper .reg-button{
        text-align: center;
    
    }
    
    .set-pages-wrapper .reg-button button{
       margin: 10px;
    }

    .set-pages-wrapper a{
        color: #ffffff;
    }


.set-pages-wrapper p { margin: 0; }

.set-pages-wrapper input{font-size:12px;}
